*.project
*.mk
build
bin
lib
.cmake_dirty
Testing/
Examples/Custom
Examples/Monocular/mono_kitti
Examples/Monocular/mono_tum
Examples/RGB-D/rgbd_tum
Examples/Stereo/stereo_kitti
Vocabulary/ORBvoc.txt
include/Thirdparty
Thirdparty/g2o/build
Thirdparty/g2o/lib
Thirdparty/g2o/config.h
Thirdparty/DBoW/build
Thirdparty/DBoW/lib
KeyFrameTrajectory*
